/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Quicksand&display=swap');

:root {
    --border-color: rgba(75, 75, 75, 0.20);
    --site-width: 825px;

    --default-link-color: rgb(17, 111, 161);
    --default-link-color-hovered: rgb(136, 125, 245);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

main {
    position: relative;
}

.absolute-container {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    margin-top: 30px;
    color: white;
    width: 95%;
}

h2 {
    font-size: 2.4em;
    text-align: center;
    width: 100%;
}

#under-title {
    text-align: center;
    font-size: 17px;
    margin-bottom: 17px;
}

.content-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 30px;
    max-width: 800px;
}

.content-box {
    border: var(--border-color) 1px solid;
    border-radius: 4px;
    background-color: var(--border-color); 
    padding: 15px;
}

nav li {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
    list-style-type: none;
}

nav {
    font-size: 0px;
}

nav a {
    color: rgb(30, 96, 165); 
    text-decoration: none;
}

nav a:hover {
    color: rgb(30, 122, 210);
    cursor: pointer;
    user-select: none;
}

p {
    font-size: 20px;
}

/* Visibility Attributes */

.sections {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding: 15px;
}

.section {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
    max-width: 800px;
    overflow: hidden;

    position: absolute;
    left: 0;
    right: 0;
}

.hidden {
    opacity: 0;
    visibility: none;
    pointer-events: none;
}

/* Banners */

.banners {
    position: absolute;
    bottom: 0;
    left: 5px;
}

/* Blog */
.blog-entry {
    text-align: left;
    font-size: 24px;
}

.blog-entry a {
    color: var(--default-link-color);
    text-decoration: none;
}

.blog-entry a:hover
{
    color: var(--default-link-color-hovered);
}

.blog-title {
    display: inline;
}

/* Learn page */

.learn-page {
    text-align: left;
}

.learn-page li {
    font-size: 22px;
    list-style-type: none;
}

.learn-page a {
    color: var(--default-link-color);
    text-decoration: none;
}

.learn-page a:hover {
    color: var(--default-link-color-hovered);
}

/* Colors */

.twitter {
    color: #00acee;
    text-decoration: none;
}

.discord {
    color: #80aafb;
    text-decoration: none;
}

.mail {
   color: #c24444; 
    text-decoration: none;
}
